[user]
	name = Brendan Taylor
	email = whateley@gmail.com
[diff]
	renames = copy
[color]
  diff = auto
[push]
	default = simple
[alias]
  lol = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\"
  lola = log --graph --all --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\"
